In [3]:
import pandas as pd 


import numpy as np

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
file_path = r"C:\Users\admin\OneDrive - Egyptian E-Learning University\Desktop\Microsoft_eelu_data\vehicles.csv"

# Read the CSV file
data = pd.read_csv(file_path)

# Print the first few rows of the dataframe (note the parentheses after .head)
print(data)

                id                                                url  \
0       7222695916  https://prescott.craigslist.org/cto/d/prescott...
1       7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2       7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3       7222270760  https://worcester.craigslist.org/cto/d/west-br...
4       7210384030  https://greensboro.craigslist.org/cto/d/trinit...
...            ...                                                ...
426875  7301591192  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426876  7301591187  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426877  7301591147  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426878  7301591140  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426879  7301591129  https://wyoming.craigslist.org/ctd/d/atlanta-2...

                        region                         region_url  price  \
0                     prescott    https://prescott.craigslist.org   6000
1                 fayetteville       https://fayar.craigslist.org  11900
2                 florida keys        https://keys.craigslist.org  21000
3       worcester / central MA   https://worcester.craigslist.org   1500
4                   greensboro  https://greensboro.craigslist.org   4900
...                        ...                                ...    ...
426875                 wyoming     https://wyoming.craigslist.org  23590
426876                 wyoming     https://wyoming.craigslist.org  30590
426877                 wyoming     https://wyoming.craigslist.org  34990
426878                 wyoming     https://wyoming.craigslist.org  28990
426879                 wyoming     https://wyoming.craigslist.org  30590

          year manufacturer                     model condition    cylinders  \
0          NaN          NaN                       NaN       NaN          NaN
1          NaN          NaN                       NaN       NaN          NaN
2          NaN          NaN                       NaN       NaN          NaN
3          NaN          NaN                       NaN       NaN          NaN
4          NaN          NaN                       NaN       NaN          NaN
...        ...          ...                       ...       ...          ...
426875  2019.0       nissan         maxima s sedan 4d      good  6 cylinders
426876  2020.0        volvo  s60 t5 momentum sedan 4d      good          NaN
426877  2020.0     cadillac          xt4 sport suv 4d      good          NaN
426878  2018.0        lexus           es 350 sedan 4d      good  6 cylinders
426879  2019.0          bmw  4 series 430i gran coupe      good          NaN

        ... size       type paint_color  \
0       ...  NaN        NaN         NaN
1       ...  NaN        NaN         NaN
2       ...  NaN        NaN         NaN
3       ...  NaN        NaN         NaN
4       ...  NaN        NaN         NaN
...     ...  ...        ...         ...
426875  ...  NaN      sedan         NaN
426876  ...  NaN      sedan         red
426877  ...  NaN  hatchback       white
426878  ...  NaN      sedan      silver
426879  ...  NaN      coupe         NaN

                                                image_url  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
426875  https://images.craigslist.org/00o0o_iiraFnHg8q...
426876  https://images.craigslist.org/00x0x_15sbgnxCIS...
426877  https://images.craigslist.org/00L0L_farM7bxnxR...
426878  https://images.craigslist.org/00z0z_bKnIVGLkDT...
426879  https://images.craigslist.org/00Y0Y_lEUocjyRxa...

                                              description county state  \
0                                                     NaN    NaN    az
1                                                     NaN    NaN    ar
2                                                     NaN    NaN    fl
3                                                     NaN    NaN    ma
4                                                     NaN    NaN    nc
...                                                   ...    ...   ...
426875  Carvana is the safer way to buy a car During t...    NaN    wy
426876  Carvana is the safer way to buy a car During t...    NaN    wy
426877  Carvana is the safer way to buy a car During t...    NaN    wy
426878  Carvana is the safer way to buy a car During t...    NaN    wy
426879  Carvana is the safer way to buy a car During t...    NaN    wy

              lat       long              posting_date
0             NaN        NaN                       NaN
1             NaN        NaN                       NaN
2             NaN        NaN                       NaN
3             NaN        NaN                       NaN
4             NaN        NaN                       NaN
...           ...        ...                       ...
426875  33.786500 -84.445400  2021-04-04T03:21:31-0600
426876  33.786500 -84.445400  2021-04-04T03:21:29-0600
426877  33.779214 -84.411811  2021-04-04T03:21:17-0600
426878  33.786500 -84.445400  2021-04-04T03:21:11-0600
426879  33.779214 -84.411811  2021-04-04T03:21:07-0600

[426880 rows x 26 columns]

In [7]:
# cleanning phases 
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB
None

In [25]:
print (data.isnull().sum()) # to calc the nulls

# print(data.count())

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [ ]:
data= data.drop(columns=['county'])  # Drop un nessecary column

In [21]:
print( data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  state         426880 non-null  object
 22  lat           420331 non-null  float64
 23  long          420331 non-null  float64
 24  posting_date  426812 non-null  object
dtypes: float64(4), int64(2), object(19)
memory usage: 81.4+ MB
None

In [27]:
# drop Rows with any missing values  

data = data.dropna()

In [49]:
# fill in missing valeues in some specific columns
 
data['price'] = data['price'].fillna(data['price'].median()) 

print("price column after fill the nulls")
print (data['price'].isnull().sum())

price column after fill the nulls
0

In [57]:
# Convert data types 
data ['price']= pd.to_numeric(data['price'],errors= 'coerce')

data['year'] = data['year'].astype(int)

data['odometer']= pd. to_numeric(data['odometer'],errors='coerce')

data['posting_date']= pd. to_datetime(data['posting_date'],errors='coerce')

data['lat']= pd. to_numeric(data['lat'],errors='coerce')

data['long']= pd. to_numeric(data['long'],errors='coerce')

print(data.dtypes)

id                int64
url              object
region           object
region_url       object
price             int64
year              int64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
state            object
lat             float64
long            float64
posting_date     object
dtype: object

C:\Users\admin\AppData\Local\Temp\ipykernel_6196\2631468447.py:8: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  data['posting_date']= pd. to_datetime(data['posting_date'],errors='coerce')

In [58]:
# Check for any remaining missing values

print(data.isnull().sum())

print(data.head)

id              0
url             0
region          0
region_url      0
price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
VIN             0
drive           0
size            0
type            0
paint_color     0
image_url       0
description     0
state           0
lat             0
long            0
posting_date    0
dtype: int64
<bound method NDFrame.head of                 id                                                url  \
126     7305672709  https://auburn.craigslist.org/ctd/d/ozark-2018...
127     7305672266  https://auburn.craigslist.org/ctd/d/ozark-2019...
128     7305672252  https://auburn.craigslist.org/ctd/d/ozark-2018...
215     7316482063  https://bham.craigslist.org/ctd/d/powder-sprin...
219     7316429417  https://bham.craigslist.org/cto/d/birmingham-1...
...            ...                                                ...
426788  7303227528  https://wyoming.craigslist.org/ctd/d/billings-...
426792  7303114896  https://wyoming.craigslist.org/ctd/d/cheyenne-...
426793  7303112347  https://wyoming.craigslist.org/ctd/d/cheyenne-...
426833  7302338378  https://wyoming.craigslist.org/cto/d/kirby-jag...
426836  7302301268  https://wyoming.craigslist.org/ctd/d/dassel-20...

            region                      region_url  price  year manufacturer  \
126         auburn   https://auburn.craigslist.org      0  2018    chevrolet
127         auburn   https://auburn.craigslist.org      0  2019    chevrolet
128         auburn   https://auburn.craigslist.org      0  2018    chevrolet
215     birmingham     https://bham.craigslist.org   4000  2002       toyota
219     birmingham     https://bham.craigslist.org   2500  1995          bmw
...            ...                             ...    ...   ...          ...
426788     wyoming  https://wyoming.craigslist.org  12995  2016    chevrolet
426792     wyoming  https://wyoming.craigslist.org  32999  2014         ford
426793     wyoming  https://wyoming.craigslist.org  15999  2018    chevrolet
426833     wyoming  https://wyoming.craigslist.org   6800  1997       jaguar
426836     wyoming  https://wyoming.craigslist.org      0  2018          ram

                    model  condition    cylinders  ... drive       size  \
126     express cargo van   like new  6 cylinders  ...   rwd  full-size
127     express cargo van   like new  6 cylinders  ...   rwd  full-size
128     express cargo van   like new  6 cylinders  ...   rwd  full-size
215                  echo  excellent  4 cylinders  ...   fwd    compact
219                  525i       fair  6 cylinders  ...   rwd   mid-size
...                   ...        ...          ...  ...   ...        ...
426788           cruze lt   like new  4 cylinders  ...   fwd    compact
426792          f350, xlt  excellent  8 cylinders  ...   4wd  full-size
426793          cruze, lt  excellent  4 cylinders  ...   fwd   mid-size
426833    xk8 convertible       good  8 cylinders  ...   rwd    compact
426836               2500  excellent  6 cylinders  ...   4wd  full-size

               type paint_color  \
126             van       white
127             van       white
128             van       white
215           sedan        blue
219           sedan       white
...             ...         ...
426788        sedan      silver
426792       pickup       brown
426793        sedan       black
426833  convertible       white
426836        truck       white

                                                image_url  \
126     https://images.craigslist.org/00K0K_69J3ZqXVAc...
127     https://images.craigslist.org/00E0E_fFAYDZvzy8...
128     https://images.craigslist.org/00000_e8MT9cNYnG...
215     https://images.craigslist.org/00N0N_jYPooSDmN5...
219     https://images.craigslist.org/00R0R_iQQpe8BshG...
...                                                   ...
426788  https://images.craigslist.org/00T0T_kYXRjGRlmx...
426792  https://images.craigslist.org/00r0r_ioKuz6JSc5...
426793  https://images.craigslist.org/00m0m_dX2wkt2V4K...
426833  https://images.craigslist.org/00a0a_glcFDSsitm...
426836  https://images.craigslist.org/00i0i_3cSpgdy0qQ...

                                              description state        lat  \
126     2018 Chevrolet Express Cargo Van RWD 2500 135"...    al  31.425091
127     2019 Chevrolet Express Cargo Van RWD 2500 135"...    al  31.425091
128     2018 Chevrolet Express Cargo Van RWD 2500 135"...    al  31.425091
215     This sky blue Toyota Echo has an excellent Car...    al  33.913500
219     For sale is a 1995 BMW 525i. Engine runs great...    al  33.353800
...                                                   ...   ...        ...
426788  Call or text today to find out more. (602) 620...    wy  45.781300
426792  Stock #: 01213 Air Conditioning; Available; Po...    wy  41.138284
426793  Stock #: 01201 Air Conditioning; Power Windows...    wy  41.138284
426833  Low mileage, garaged, no accidents, dents, or ...    wy  43.642930
426836  Phone: 320-275-2150   2018 RAM 2500 Tradesman ...    wy  45.082436

              long               posting_date
126     -85.617723  2021-04-12 11:20:35-05:00
127     -85.617723  2021-04-12 11:20:00-05:00
128     -85.617723  2021-04-12 11:19:58-05:00
215     -84.685900  2021-05-03 17:48:17-05:00
219     -86.825400  2021-05-03 16:03:27-05:00
...            ...                        ...
426788 -108.572700  2021-04-07 11:58:09-06:00
426792 -104.784799  2021-04-07 09:06:54-06:00
426793 -104.784799  2021-04-07 09:03:17-06:00
426833 -108.222976  2021-04-05 16:29:38-06:00
426836  -94.334686  2021-04-05 15:18:42-06:00

[34785 rows x 25 columns]>

In [8]:
#Total Number of vicels 

total_vichels = data.shape[0]

print ("total number of vichels =",total_vichels)

total number of vichels = 426880

In [10]:
# Average price of vichels 

avg_price = data['price'].mean()

print ( "average price of vichels :",avg_price)

average price of vichels : 75199.0331873126

In [11]:
# How many Unique manufactors are there in the data set 

unique_manufactors = data['manufacturer'].nunique()

print ("unique manufactors:",unique_manufactors)

unique manufactors: 42

In [ ]:
# Most common Vichels condition

most_common_vic= data['condition'].mode()[0]
print("Most common vichels :" , most_common_vic)

Most common vichels : good

In [16]:
# Distribution of fuel type 

fuel_distrebution = data['fuel'].value_counts()

print("distrebution of fuel:\n",fuel_distrebution)

distrebution of fuel:
 fuel
gas         356209
other        30728
diesel       30062
hybrid        5170
electric      1698
Name: count, dtype: int64

In [17]:
# average odometer reading for vehicles by manufacturer

average_odometer = data.groupby ('manufacturer')['odometer'].mean()


print( " average odometer reading\n",average_odometer)

 average odometer reading
 manufacturer
acura               77527.153924
alfa-romeo          34668.399103
aston-martin        22353.958333
audi                66060.754915
bmw                 76193.385926
buick              100671.775862
cadillac            79680.888808
chevrolet          106170.587919
chrysler           102332.100571
datsun              73693.349206
dodge               90408.904031
ferrari             29732.589474
fiat                52572.235443
ford               107527.735838
gmc                106812.250406
harley-davidson     57768.254902
honda              115246.419956
hyundai             86956.791059
infiniti            74418.063063
jaguar              50949.679031
jeep                87511.432497
kia                 78001.762931
land rover          71202.571429
lexus               90820.043532
lincoln             73327.873266
mazda               89466.268565
mercedes-benz       80286.609401
mercury            121864.355574
mini                67154.336993
mitsubishi          69606.298780
morgan              14377.666667
nissan              91775.185408
pontiac            134853.275362
porsche             82525.242182
ram                 97604.822790
rover               74006.592752
saturn             124907.987974
subaru              97784.659839
tesla               37385.431871
toyota             107148.693312
volkswagen          83933.527886
volvo              112198.340381
Name: odometer, dtype: float64

In [19]:
# vehicles are listed in each state

vichels_per_state = data['state'].value_counts()
print("number of vichels in each state \n", vichels_per_state)

number of vichels in each state
 state
ca    50614
fl    28511
tx    22945
ny    19386
oh    17696
or    17104
mi    16900
nc    15277
wa    13861
pa    13753
wi    11398
co    11088
tn    11066
va    10732
il    10387
nj     9742
id     8961
az     8679
ia     8632
ma     8174
mn     7716
ga     7003
ok     6792
sc     6327
mt     6294
ks     6209
in     5704
ct     5188
al     4955
md     4778
nm     4425
mo     4293
ky     4149
ar     4038
ak     3474
la     3196
nv     3194
nh     2981
dc     2970
me     2966
hi     2964
vt     2513
ri     2320
sd     1302
ut     1150
wv     1052
ne     1036
ms     1016
de      949
wy      610
nd      410
Name: count, dtype: int64

In [20]:
# Averave Price of vichels by year 


avg_price_year = data.groupby('year')['price'].mean()

print ("average price by each year",avg_price_year)

average price by each year year
1900.0    3.694167e+03
1901.0    1.699667e+03
1902.0    1.666666e+06
1903.0    0.000000e+00
1905.0    3.990000e+03
              ...
2018.0    2.636861e+04
2019.0    3.297553e+04
2020.0    9.189771e+04
2021.0    1.338055e+06
2022.0    2.736705e+04
Name: price, Length: 114, dtype: float64

In [21]:
# percentage of vichles that have title statues 'clean' 

clean_vichels_sta= (data ['title_status'].value_counts(normalize=True)['clean']*100) 

print("Percentage of vehicles with a clean title status:",clean_vichels_sta)

Percentage of vehicles with a clean title status: 96.77024063749587

In [22]:
# correlation between price and odometer reading 

correlation_price_odometer = data['price'].corr(data['odometer'])

print("Correlation between price and odometer reading:",correlation_price_odometer)

Correlation between price and odometer reading: 0.010032266733226167